@font-face {
  font-family: "iconfont"; /* Project id 3890214 */
  src: url('iconfont.woff2?t=1676035047792') format('woff2'),
       url('iconfont.woff?t=1676035047792') format('woff'),
       url('iconfont.ttf?t=1676035047792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-caidan:before {
  content: "\e668";
}

